<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>
<body>
    <div id="app">
        <abc></abc>
        <input type="text" v-model="currentItem" @keydown="onkeyDown">
        <ul>
            <li v-for="(t,index) in todo">
                {{t}} <button @click="function(){deleteItem(index)}">X</button>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                currentItem:"",
                todo:[]
            },
            methods:{
                onkeyDown:function(ev){
                    if(ev.keyCode === 13){
                        this.todo.push(this.currentItem);
                        this.currentItem = "";
                    }
                    
                    
                },
                deleteItem:function(index){
                    this.todo.splice(index,1);
                }
            }
            });
        
    </script>
</body>
</html>